<app-navbar-hero-section></app-navbar-hero-section>
<section class="section main-content">
    <div class="container">
        <div class="text-center">
            <h1 class="display-2">What I do</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4 text-underline">Live in Michigan</h2>
            </div>
            <div class="col-md-12">
                <p class="">
                    I live in Michigan with my girls (wife and two daughters), and have been living in Michigan since 2010. I love Michigan weather. I love the extreme cold 
                    in the winter and the wonderful Michigan summer. Personally to me, to live among the great lakes is by far the best feeling of living in Michigan. 
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4 text-underline">Love for technology</h2>
            </div>
            <div class="col-md-12">
                <p class="">
                    I love technology. I spend most of my time programming, reading up on latest technologies, trying out new gadgets, or even developing small scale applications
                    that could help me with automating my day-to-day activities. 
                    
                    Some of the things I have developed: 
                </p>
                <ol>
                    <li>
                        <strong>A custom alexa skill</strong><br> I have not published this skill for the public, but for myself on my alexa device using my amazon account. 
                        This skill allows my elementary school daughter to interact with alexa to learn about the various activities that she needs to do at various times 
                        of any given day in a week.<br><br>

                        Here is a sample code to get you started with a basic alexa skill if you are interested. <a href="https://github.com/phaninarra/alexa-skill-node-lambda-setup" target="_blank">alexa-skill-node-lambda-setup</a>

                    </li>
                    <li class="mt-3">
                        <strong>This website</strong><br> I developed this website because I wanted to help others by providing valuable information like tips and tricks, as 
                        well as write some articles on various topics. Reason for developing a website of my own and not using a blogging site, is to practice my full stack 
                        skills.<br><br>This website uses an Angular UI, a .Net Core WebAPI and a SQL Server database. I am an expert in these technologies. Like carpenters prefer to make their own
                        bed frame from scratch instead of buying one from furniture stores, passionate programmers like me also like to build their own rather than using something 
                        built by others.
                    </li>
                    <li class="mt-3">
                        I will be updating this section as I develop more stuff, this section was <strong>last updated on {{lastUpdatedDate | date: 'MM-dd-yyyy'}}</strong>
                    </li>
                    <li class="mt-3">
                        For a full list of tools I developed and published on this website, that you can use for your own benefit, <a href="#">click here</a>.
                    </li>
                </ol>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4 text-underline">Learn new skills/Level up my skills</h2>
            </div>
            <div class="col-md-12">
                <p class="">
                    I like to learn new skills, develop new habits that help me in the long run.<br> 
                    
                    Some of the skills I would like to learn/make a habit of in 2022: 
                </p>
                <ol>
                    <li>
                        <strong>Writing</strong><br> I have never published an article/blogpost for the public to read and learn and probably apply in their life, I would like
                        to do that in 2022. I dont care how short or long the articles I write are, but I want to write something crisp and to the point and something that adds
                        value to my readers, something that really makes a difference in their lives be it career, relationships, love, health or entertainment.<br>

                        For a list of articles I have written since 2022 so far <a href="#">click here</a>.

                    </li>
                    <li class="mt-3">
                        <strong>Reading</strong><br> Growing up I was never a fan of reading books. I barely read my academic books during my schooling (K-10), let alone any
                        documentaries, novels, story books etc. I later realized the importance of reading books, it improves your memory, your vocabulary and your ability
                        to quickly scan through different kinds of complex words, and gives you a reading fluency. I have read some books in the last few years, but I do 
                        have a long list of books that I would like to read. hopefully I can start shrinking that list, the list has only been growing in the last few years.
                    </li>
                    
                </ol>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p>
                    I have a huge list of all the things I would like to do in my life. If you are 
                    interested, you can <a [routerLink]="['/about/my-goals']">click here</a> to learn about my goals/wish
                    list.
                </p>
            </div>
        </div>

    </div>
</section>