<app-navbar-hero-section></app-navbar-hero-section>
<section class="section main-content">
    <div class="container">
        <div class="text-center">
            <h1 class="display-2">My Goals</h1>
        </div>
        <div class="row mt-5">
            <div class=col-md-12>
                <p>
                    I worked with small to medium sized to-do lists for a long time, but I decided that having a long list of everything in life at one place is a 
                    great way to look back at the list from time to time and access where we stand, how much we got done, what is left to do and plan accordingly. Having 
                    said that here is my full list of things I would like to do in my life. Putting this out for the public accomplishes two things, 1. It adds 
                    accountability on my part to keep working on this list, to knock things off as well as add new stuff to it, and 2. It helps others out there looking to
                    do something like this, motivates them to do something similar, if not better.
            </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4">Life Goals</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><s>Graduate with Bachelors Degree.</s></li>
                    <li><s>Visit United States.</s></li>
                    <li><s>Graduate with Masters Degree.</s></li>
                    <li><s>Settle in Michigan.</s></li>
                    <li>Earn enough to be able to pay for my two daughters career preparation irrespective of what they want to take up as their career (art, sport etc.).</li>
                    <li>Help others improve by providing tips, writing articles/experiences etc.</li>
                    <li>Visit Switzerland with my family.</li>
                    <li>Visit African Wildlife Safari with my family.</li>
                    <li>Meet Roger Federer.</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4">Fitness Goals</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><s>Run a 5K.</s></li>
                    <li>Run a 10K.</li>
                    <li><s>Exercise 30 minutes(rigorously) everyday for 10 days in a row.</s></li>
                    <li><s>Exercise 30 minutes(rigorously) everyday for 30 days in a row.</s></li>
                    <li>Exercise 30 minutes(rigorously) everyday for 90 days in a row.</li>
                    <li>Exercise 30 minutes(rigorously) everyday for 180 days in a row.</li>
                    <li>Exercise 30 minutes(rigorously) everyday for a full year.</li>
                    <li><s>Do 10 pushups without a break.</s></li>
                    <li><s>Do 25 pushups without a break.</s></li>
                    <li>Do 50 pushups without a break.</li>
                    <li>Do 100 pushups without a break.</li>
                    <li><s>Cycle 1 mile non-stop.</s></li>
                    <li>Cycle 2 mile non-stop.</li>
                    <li>Cycle 5 mile non-stop.</li>
                    <li>Cycle 10 mile non-stop.</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4">Professional Goals</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>Write my first article for my website</li>
                    <li>Write 5 articles for my website</li>
                    <li>Write 25 articles for my website</li>
                    <li>Write 50 articles for my website</li>
                    <li>Write 100 articles for my website</li>
                    <li>Write 2 articles in a week</li>
                    <li>Write 2 articles a week for 4 weeks</li>
                    <li>Write 2 articles a week for 12 weeks</li>
                    <li>Write 2 articles a week for 1 year</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="display-4">Career Goals</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>Complete</li>
                    <li>Write 5 articles for my website</li>
                    <li>Write 25 articles for my website</li>
                    <li>Write 50 articles for my website</li>
                    <li>Write 100 articles for my website</li>
                    <li>Write 2 articles in a week</li>
                    <li>Write 2 articles a week for 4 weeks</li>
                    <li>Write 2 articles a week for 12 weeks</li>
                    <li>Write 2 articles a week for 1 year</li>
                </ul>
            </div>
        </div>
    </div>
</section>