<app-navbar-hero-section></app-navbar-hero-section>
<section class="section main-content">
    <div class="container">
        <div class="text-center">
            <h1 class="display-2">Who I am</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img alt="Raised circle image" class="img-fluid rounded-circle shadow-lg mt-5" src="./assets/img/techievibe/phani/phani-sketch.png" style="width: 350px;">
            </div>
            <div class="col-md-12">
                <h2 class="display-4 text-center">I am Phani Narra, a software engineer, passionate about using technology to help <span class="text-primary d-inline">you become a better version of yourself.</span></h2>
                <p class="mt-5 text-muted text-italic">I believe and live by the following principle</p>
                <blockquote class="blockquote mt-2">
                    <p class="mb-0">There are `some` things you know <strong>(knowns)</strong>, and <br> there are `some` things you know that you dont know <strong>(known unknowns)</strong>, and <br>there are `many` things you dont know but you dont even know that you dont know <strong>(unknown unknowns)</strong>.</p><br><br>
                    <p class="">If you spend most of your day doing your <strong>(knowns)</strong> then you are not challenging yourself enough in life. The more time you spend learning <strong>(known unknowns)</strong>, the more of <strong>(unknown unknowns)</strong> you uncover, and the more knowledgable you become. </p><br><br>
                    <p class="">This website was built to help you uncover your <strong>(unknown unknowns)</strong>.</p>
                    <footer class="blockquote-footer text-muted float-right mt-3"><cite title="Source Title">Phani Narra <span class="text-muted text-primary small"><a href="https://en.wikipedia.org/wiki/There_are_known_knowns">(Original Knowns and Unknowns concept by Donald Rumsfield)</a></span></cite></footer><br>
                </blockquote>
            </div>
            <div class="col-md-12">
                <p class="mt-5">
                    I am an IT professional and have been in IT since 2010 and did my masters and bachelors degrees in computer science before that. I came across the 
                    knowns and unknowns mantra I mentioned above in the year 2009. I was a student and doing my masters back then, and the thing just 
                    stuck in my mind eventhough I did not completely understand the depth of the meaning it carries. Later somewhere around the 2014 time, I experienced something 
                    extraordinary in my life that I was able to directly apply this mantra to, which is when I truly understood the depth of the meaning and realized that we need 
                    to spend most of our time everyday trying
                    to learn things in the <strong>known unknowns</strong> space. This essentially does two things: 
                </p>
                <ol>
                    <li>Adds new things to your <strong>knowns</strong> space from your <strong>known unknowns</strong> space.</li>
                    <li>Adds new things to your <strong>known unknowns</strong> space from your <strong>unknown unknowns</strong> space.</li>
                </ol>
                <p>    
                    and the cycle continues everyday.
                </p>
                <p>If you are interested there is a more detailed article I wrote on the knowns and unknowns and how it helped me become who I am today. You can jump right to the article <a href="/articles/known-unknows">here</a>.</p>
                <p>To learn more about me and what I do, check out <a [routerLink]="['/about/what-i-do']">What I do</a>.</p>
            </div>
        </div>
    </div>
</section>
