<div class="position-relative">
    <!-- Hero for FREE version -->
    <!-- <section class="section section-lg section-hero section-shaped" style="background-image: url('https://images.unsplash.com/photo-1639077567163-f5bcf1c94d06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&auto=format%2Ccompress&fit=crop&w=1000&h=1000'); background-size:cover;"> -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
              <div class="hero-section-content">
                <div>
                    <h1 class="text-white display-3 text-uppercase">Share what you know and learn what you don't</h1>
                    <div class="btn-wrapper mt-5">
                      <a href="#" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                        <span class="btn-inner--icon"><i class="fa fa-binoculars"></i></span>
                        <span class="btn-inner--text">Explore</span>
                      </a>
                      <a href="#" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                        <span class="btn-inner--icon"><i class="fa fa-quote-left"></i></span>
                        <span class="btn-inner--text">
                          <span class="text-warning">Read</span> my Articles</span>
                      </a>
                    </div>
                    <!-- <div class="mt-5">
                      <small class="text-white font-weight-bold mb-0 mr-2">proudly coded by</small><br>
                      <img src="./assets/img/techievibe/phani/phani-sketch.jpg" style="height: 48px;" class="img-fluid rounded-circle shadow-lg"><br>
                      <small class="text-white font-weight-bold mb-0 mr-2 ml-2">Phani Narra</small>
                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>