/* You can add global styles to this file, and also import other style files */

#userAccountBlock li {
    display:contents;
}

.main-content p,
.main-content li,
.main-content dt,
.main-content code
{
    font-size:18px !important;
    line-height: 2;
}

::selection {
    background-color:#d2c7f7;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }